<footer class="c-footer">
    <div class="o-container">
        <div class="o-layout u-bg-black">
            <div class="o-layout_item">
                <img src="google play" alt="">
                <img src="app store" alt="">
                <img src="facebook" alt="">
                <img src="twitter" alt="">
                <img src="instagram" alt="">
            </div>
            </div>
            <div class="o-layout_item">
                <img src="phone" alt="">
                <span>0330 808 4702</span>
            </div>
            <div class="o-layout_item">
                <p>or <a href="#">START LIVE CHAT</a></span></p>
            </div>
            <div>
                <img src="amex" alt="">
                <img src="visa" alt="">
                <img src="mastercard" alt="">
            </div>
        </div>
        <div class="o-layout u-bg-white">
            <div class="o-layout_item">
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Press &amp; Media</a></li>
                    <li><a href="#">For Doctors</a></li>
                    <li><a href="#">For Business</a></li>
                    <li><a href="#">Telephone Checkers</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy &amp; Cookies</a></li>
                    <li><a href="#">Sitemap</a></li>
                </ul>
                <p>&copy; PushDr 2016. Push Dr Limited. 4th Floor Queens Chambers. 5 John Dalton Street. Manchester M2 6ET</p>
                <img src="Click here to verify this website is legal" alt="">
            </div>

        </div>
    </div>
</footer>
