<footer class="c-footer">
    <div class="u-bg-brand-black">
        <div class="o-container">
            <div class="o-layout u-text-center no-gutter">
                <div class="o-layout_item u-pt u-mb-">
                    <a href="#"><img src="./assets/img/google-play-icon.png" alt="Google play" height="30"></a>
                    <a href="#"><img src="./assets/img/app-store-logo.png" alt=""height="30"></a>
                    <a href="#" class="u-text-brand-white c-footer_sm-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" class="u-text-brand-white c-footer_sm-icon"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#" class="u-text-brand-white c-footer_sm-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
                <div class="o-layout_item u-text-center u-mb-">
                    <a class="u-text-brand-white u-no-underline" href="tel:+4403308084702">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <strong>0330 808 4702</strong>
                    </a>
                </div>
                <div class="o-layout_item u-text-center u-mb-">
                    <p class="u-text-brand-white">or <a href="#" class="u-text-brand-white u-no-underline"><strong>START LIVE CHAT</strong></a></p>
                </div>
                <div class="u-text-center u-pb">
                    <img src="./assets/img/payments.png" alt="Accepted credit cards: Amex, Visa, Mastercard" width="125">
                </div>
            </div>
        </div>
    </div>

    <div class="u-bg-brand-light-grey u-pv">
        <div class="o-container">
            <div class="o-layout ">
                <div class="o-layout_item u-3/6@md">
                    <ul class="c-footer_links">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Press &amp; Media</a></li>
                        <li><a href="#">For Doctors</a></li>
                        <li><a href="#">For Business</a></li>
                        <li><a href="#">Telephone Checkers</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy &amp; Cookies</a></li>
                        <li><a href="#">Sitemap</a></li>
                    </ul>
                    <p class="c-footer_copyright-line">&copy; PushDr 2016. Push Dr Limited. 4th Floor Queens Chambers. 5&nbsp;John&nbsp;Dalton&nbsp;Street. Manchester M2&nbsp;6ET</p>
                    <a href="#">
                        <img src="./assets/img/medicine-seller.png" alt="Click to verify if this website is operating legally" width="75">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
