<div class="u-bg-brand-dark-grey u-text-right">
    <div class="o-container">
        <a href="tel:+4403308084702" class="u-text-brand-white u-no-underline">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <strong>0330 808 4702</strong>
        </a>
    </div>
</div>
<header class="u-bg-brand-blue u-pb++">
    <div class="o-container">
        <div class="o-layout no-gutter u-pt">
            <div class="o-layout_item u-3/6">
                <a href="#">
                    <img class="c-header_logo" src="./assets/img/pushdoctorwhite.png" alt="Push Doctor Logo">
                </a>
            </div>
            <nav class="o-layout_item u-3/6 c-header_nav">
                <input class="c-header_nav-btn" type="checkbox" id="menu-btn" />
                <label class="c-header_nav-icon" for="menu-btn">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                    <span>MENU</span>
                </label>
                <ul class="c-header_nav-menu">
                    <li><a href="#work">OUR WORK</a></li>
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="#careers">CAREERS</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
