<div class="u-bg-brand-dark-grey u-text-right">
    <a href="tel:+4403308084792">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <strong>0330 808 4792</strong>
    </a>
</div>
<header class="u-bg-brand-blue">
    <div class="c-navbar o-layout no-gutter">
        <div class="c-navbar_logo o-layout_item">
            <p>Push Doctor</p>
        </div>
        <nav class="c-navbar_nav o-layout_item">
          <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/skills-and-work-history.html">Skills and work history</a></li>
            <li><a href="/portfolio/index.html">Portfolio</a></li>
          </ul>
      </nav>
    </div>
</header>
