.u-in-bl {
    display: inline-block;
}

.u-bl {
    display: block;
}

.u-absolute {
    position: absolute;
}

.u-relative {
    position: relative;
}

.u-sr-only {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    left: -9999999px;
}
