.u-text-bold {
    font-weight: 700;
}

.u-text-bolder {
    font-weight: 800;
}

.u-text-lighter {
    font-weight: lighter;
}

.u-text-normal {
    font-weight: 400;
}

.u-text-italic {
    font-style: italic;
}

.u-lede {
    font-size: 1.2em;
}

.u-lede--large {
    font-size: 1.4em;
}


.u-text-center {
    text-align: center;
}

.u-text-left {
    text-align: left;
}

.u-text-right {
    text-align: right;
}

.u-no-underline {
    text-decoration: none;
}
