/* -----------------
Accordian styles
------------------ */

.c-accordion {
  margin-bottom: $base-spacing-unit--tiny;

    label {
        cursor: pointer;
        display: block;
        padding: $base-spacing-unit--teeny $base-spacing-unit--tiny;
        background-color: $brand-light-grey;
        font-size: 1rem;
    }

    input {
        position: relative;
        top: -2px;
        left: -3px;
        display: none;
    }
}


.c-accordion_body {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: all 0.5s ease;
    width: 100%;

    @include breakpoint(md) {
        width: 66%;
    }
}

.c-accordion input:checked ~ .c-accordion_body {
    height: auto;
    opacity: 1;
}

.c-accordion_inner {
  padding: $base-spacing-unit--teeny $base-spacing-unit--tiny 0;
}
