.c-btn {
    display: inline-block;
    padding: $base-spacing-unit--teeny $base-spacing-unit--tiny;
    text-decoration: none;
    font-size: 1.1rem;

    &:hover {
        text-decoration: none;
    }
}

.c-btn--black {
    background-color: $brand-black;
    color: $brand-white;
    border: 1px solid white;
}
