.c-footer {
    font-weight: bold;
    text-align: center;

    p {
        font-size: 0.7rem;
    }
}

.c-footer_links {
    list-style: none;
    margin-bottom: $base-spacing-unit;

    li {
        font-size: 14px;
        padding: 0 5px;
        display: inline-block;

        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

}

.c-footer_sm-icon {
    font-size: 30px;
    padding: $base-spacing-unit--tiny $base-spacing-unit--teeny;
}
