.c-navbar_logo,
.c-navbar_nav {
    @include breakpoint (lg) {
        width: 50%;
    }
}

.c-navbar {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 50px;
    width: 100%;

    @include breakpoint(md) {
        margin-top: 100px;
    }
}

.c-navbar_logo {
    display: inline-block;
    vertical-align: text-bottom;

    p {
        margin: 0;
        font-size: 2.5em;
        line-height: 1em;
        color: $brand-white
    }

    span {
        color: $brand-light-grey;
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }

}

.c-navbar_nav {
    text-align: left;
    color: $brand-light-grey;
    display: inline-block;
    vertical-align: text-bottom;
    ul {
        list-style: none;
        display: inline-block;
        margin-left: 0;
    }
    li {
        display: inline-block;
        padding: 10px 15px 10px 0;
        font-size: 1.2em;

        @include breakpoint (lg) {
            padding: 20px 0 0 10px;
        }

    }

    @include breakpoint(lg) {
        text-align: right;
    }

}
