$styled-list-circle-size:    45px;

.c-styled-list {
    margin-bottom: $base-spacing-unit;
    li {
        margin-bottom: $base-spacing-unit--small;
    }
}

.c-styled-list--numbered {
    counter-reset: number-list;
    list-style: none;

    li {
        counter-increment: number-list;
        position: relative;
        margin-bottom: $base-spacing-unit--large;
        padding-left: $base-spacing-unit--huge;

        &:before {
            content: counter(number-list);
            color: $brand-light-blue;
            font-size: $base-spacing-unit;
            text-align: center;
            margin-right: $base-spacing-unit;
            position: absolute;
            left: 0;
        }
        &:after {
            content: '';
            border: 2px solid $brand-light-blue;
            border-radius: 100%;
            width: $styled-list-circle-size;
            height: $styled-list-circle-size;
            display: inline-block;
            position: absolute;
            top: -9px;
            left: -17px;
        }
    }
}
