{% extends "layouts/layout.html" %}

{% block content %}

    {% include "./partials/header.html" %}

    <div class="u-bg-brand-blue u-text-center u-pb">
        <h1 class="u-mb0 u-pb+ u-text-brand-white">Get antibiotics online</h1>
    </div>

    <div class="u-bg-brand-white">
        <div class="o-container">
            <h2 class="u-mb+ u-pt++">You can now see a doctor online to get antibiotics</h2>
            <div class="o-layout">
                <div class="o-layout_item u-3/6@md u-text-brand-dark-grey">
                    <div class="o-container">
                        <ol class="c-styled-list c-styled-list--numbered">
                            <li>Make an appointment online</li>
                            <li>Video chat with a doctor on your smartphone</li>
                            <li>Collect your antibiotics from a local pharmacy on the same day</li>
                        </ol>
                    </div>
                </div>
                <div class="o-layout_item u-3/6@md">
                    <div class="c-bubble-img">
                        <div class="c-bubble-img_img">
                            <img src="./assets/img/prescription.png" alt="prescription" width="100" style="border-radius: 100%; border: 1px solid lightgray;" aria-hidden="true">
                        </div>
                        <div class="c-bubble-img_body">
                            <a href="#" class="c-btn c-btn--black">Make an appointment</a>
                            <p class="u-text-center">Dynamic Text</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="u-bg-brand-light-grey u-pt">
        <div class="o-container">
            <div class="o-layout u-mb-">
                <div class="o-layout_item u-text-center">
                    <img src="./assets/img/trust-pilot.svg" alt="trust pilot logo" width="150" class="u-mb-" aria-hidden="true">
                    <h2 class="u-sr-only">Testimonials</h2>
                </div>
                <div class="o-layout_item u-3/6@md">
                    <div class="c-testimonial">
                        <div class="c-testimonial_img">
                            <img src="./assets/img/person-smiling.jpg" alt="person testimonial" aria-hidden="true">
                        </div>
                        <div class="c-testimonial_body">
                            <h3>Excellent Service</h3>
                            <div class="c-testimonial_stars">
                                <img src="./assets/img/trust-pilot-star.png" alt="trust pilot star" aria-hidden="true">
                                <img src="./assets/img/trust-pilot-star.png" alt="trust pilot star" aria-hidden="true">
                                <img src="./assets/img/trust-pilot-star.png" alt="trust pilot star" aria-hidden="true">
                                <img src="./assets/img/trust-pilot-star.png" alt="trust pilot star" aria-hidden="true">
                                <img src="./assets/img/trust-pilot-star.png" alt="trust pilot star" aria-hidden="true">
                            </div>
                            <p>Couldn't ask anything better than this service. So easy, just need your smart phone and good connection.</p>
                        </div>
                    </div>
                </div>
                <div class="o-layout_item u-3/6@md">
                    <div class="c-testimonial">
                        <div class="c-testimonial_img">
                            <img src="./assets/img/person-smiling.jpg" alt="person testimonial" aria-hidden="true">
                        </div>
                        <div class="c-testimonial_body">
                            <h3>A huge improvement</h3>
                            <div class="c-testimonial_stars">
                                <img src="./assets/img/trust-pilot-star.png" alt="trust pilot star" aria-hidden="true">
                                <img src="./assets/img/trust-pilot-star.png" alt="trust pilot star" aria-hidden="true">
                                <img src="./assets/img/trust-pilot-star.png" alt="trust pilot star" aria-hidden="true">
                                <img src="./assets/img/trust-pilot-star.png" alt="trust pilot star" aria-hidden="true">
                                <img src="./assets/img/trust-pilot-star.png" alt="trust pilot star" aria-hidden="true">
                            </div>
                            <p>Fantastic. Had a situation they dealt with it effectively and efficiently. Will definitely use these before NHS.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="o-layout u-mb">
                <div class="o-layout_item u-3/6">
                    <a href="/reviews">View more reviews</a>
                </div>
                <div class="o-layout_item u-3/6 u-text-right">
                    <a href="https://www.trustpilot.com">Write a review</a>
                </div>
            </div>
        </div>
    </div>

        <div class="u-bg-brand-blue u-pv+">
            <div class="o-container u-text-center">
                <h2 class="u-text-brand-white u-mb---">First appointment offer</h2>
                <p class="u-text-brand-white u-mb+">Your first 10 minute consultation is just £15</p>
                <a href="#" class="c-btn c-btn--black">Make an appointment</a>
            </div>

        </div>

        <div class="u-bg-brand-white u-pt+ u-pb++">
            <div class="o-container">
                <h2>Common Questions</h2>
                <div class="c-accordion">
                    <input id="accordion-1" type="checkbox">
                    <label for="accordion-1">
                        How does push doctor work?
                        <img src="./assets/img/chevron-right.png" alt="right arrow" aria-hidden="true" class="c-accordion_chevron c-accordion_chevron-right">
                        <img src="./assets/img/chevron-down.png" alt="down arrow" aria-hidden="true" class="c-accordion_chevron c-accordion_chevron-down">
                    </label>
                    <div class="c-accordion_body">
                        <div class="c-accordion_inner">
                              <p>Lorem ipsum dolor sit amet consect etuer adipi scing elit sed diam nonummy nibh euismod tinunt ut laoreet dolore magna aliquam erat volut.</p>
                              <p>Lorem ipsum dolor sit amet consect etuer adipi scing elit sed diam nonummy nibh euismod tinunt ut laoreet dolore magna aliquam erat volut.</p>
                              <p>Lorem ipsum dolor sit amet consect etuer adipi scing elit sed diam nonummy nibh euismod tinunt ut laoreet dolore magna aliquam erat volut. <a href="#">This is a link to more content</a></p>
                        </div>
                    </div>
                </div>

                <div class="c-accordion">
                    <input id="accordion-2" type="checkbox">
                    <label for="accordion-2">
                        How do I attend my appointment?
                        <img src="./assets/img/chevron-right.png" alt="right arrow" aria-hidden="true" class="c-accordion_chevron c-accordion_chevron-right">
                        <img src="./assets/img/chevron-down.png" alt="down arrow" aria-hidden="true" class="c-accordion_chevron c-accordion_chevron-down">
                    </label>
                    <div class="c-accordion_body">
                        <div class="c-accordion_inner">
                              <p>Lorem ipsum dolor sit amet consect etuer adipi scing elit sed diam nonummy nibh euismod tinunt ut laoreet dolore magna aliquam erat volut.</p>
                              <p>Lorem ipsum dolor sit amet consect etuer adipi scing elit sed diam nonummy nibh euismod tinunt ut laoreet dolore magna aliquam erat volut.</p>
                              <p>Lorem ipsum dolor sit amet consect etuer adipi scing elit sed diam nonummy nibh euismod tinunt ut laoreet dolore magna aliquam erat volut. <a href="#">This is a link to more content</a></p>
                        </div>
                    </div>
                </div>

                <div class="c-accordion">
                    <input id="accordion-3" type="checkbox">
                    <label for="accordion-3">
                        How will I receive my prescription?
                        <img src="./assets/img/chevron-right.png" alt="right arrow" aria-hidden="true" class="c-accordion_chevron c-accordion_chevron-right">
                        <img src="./assets/img/chevron-down.png" alt="down arrow" aria-hidden="true" class="c-accordion_chevron c-accordion_chevron-down">
                    </label>
                    <div class="c-accordion_body">
                        <div class="c-accordion_inner">
                              <p>Lorem ipsum dolor sit amet consect etuer adipi scing elit sed diam nonummy nibh euismod tinunt ut laoreet dolore magna aliquam erat volut.</p>
                              <p>Lorem ipsum dolor sit amet consect etuer adipi scing elit sed diam nonummy nibh euismod tinunt ut laoreet dolore magna aliquam erat volut.</p>
                              <p>Lorem ipsum dolor sit amet consect etuer adipi scing elit sed diam nonummy nibh euismod tinunt ut laoreet dolore magna aliquam erat volut. <a href="#">This is a link to more content</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "partials/footer.html" %}

{% endblock %}
