{% extends "layouts/layout.html" %}

{% block content %}

    {% include "./partials/header.html" %}

    <div class="">
        <div class="u-bg-brand-blue u-text-center">
            <h1 class="u-mb0 u-pb+ u-text-brand-white">Get antibiotics online</h1>
        </div>

        <div class="o-layout u-bg-brand-white">
            <div class="o-layout_item u-text-brand-dark-grey">
                <div class="o-container">
                    <h2>You can now see a doctor online to get antibiotics</h2>
                    <ol class="c-styled-list c-styled-list--numbered">
                        <li>Make an appointment online</li>
                        <li>Video chat with a doctor on your smartphone</li>
                        <li>Collect your antibiotics from a local pharmacy on the same day</li>
                    </ol>
                </div>
            </div>
        </div>

    <div class="o-layout u-bg-brand-white">
        <div class="o-container">
            <div class="o-layout_item u-2/6">
                <img src="./assets/img/prescription.png" alt="prescription">
            </div>
            <div class="o-layout_item u-4/6">
                <a href="#" class="c-btn c-btn--black">
                    Make an appointment
                </a>
                <p>Dynamic Text</p>
            </div>
        </div>
    </div>



    <div class="o-layout u-bg-brand-light-grey">
        <div class="o-layout_item u-text-center">
            <img src="./assets/img/trust-pilot.svg" alt="trust pilot" width="150">
        </div>
        <div class="o-layout item">
            <div class="c-testimonial">
                <div class="c-testimonial_img-container">
                    <div class="c-testimonial_img" style="background-image: url('');">

                    </div>
                </div>
                <div class="c-testimonial_body">

                </div>
            </div>
        </div>
        <div class="o-layout">
            <div class="o-layout_item">
                <a href="#">View more reviews</a>
            </div>
            <div class="o-layout_item">
                <a href="#">Write a review</a>
            </div>
        </div>
    </div>

        <div class="u-bg-brand-blue">
            <h2>First appointment offer</h2>
            <p>Your first 10 minute consultation is just £15</p>
            <a class="c-btn c-btn--black">Make an appointment</a>
        </div>

        <div class="u-bg-white">
            <h2>Common Questions</h2>
            <section class="c-accordion">
    			<div>
    				<input type="checkbox" id="check-1" />
    				<label for="check-1">Option 1</label>
    				<article>
    					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, odit, quia hic ipsam laboriosam dignissimos suscipit eligendi! Aspernatur, ad, suscipit officiis repellat consequuntur quod quibusdam sint nobis magnam voluptates veritatis?</p>
    				</article>
    			</div>
    			<div>
    				<input type="checkbox" id="check-2" />
    				<label for="check-2">Option 2</label>
    				<article>
    					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, doloremque maiores excepturi iste porro cumque rem praesentium illo labore error quasi magni cupiditate rerum sequi dolores architecto consectetur harum soluta neque placeat culpa nesciunt molestias quam facilis ipsum ab aspernatur ut similique aperiam nemo tempore earum esse repellat provident eum blanditiis tempora molestiae! Optio, asperiores neque nam reiciendis ad rerum.</p>
    				</article>
    			</div>
    			<div>
    				<input type="checkbox" id="check-3" />
    				<label for="check-3">Option 3</label>
    				<article>
    					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, ipsum ratione eos voluptates unde ut sint maiores nobis iste odit. Maiores, voluptatum, dolorem, deleniti debitis est ea numquam nesciunt in rerum fuga neque quas laudantium quo laboriosam doloremque nemo ab itaque aliquid accusamus accusantium veritatis consectetur necessitatibus iure soluta blanditiis facere quam aperiam suscipit obcaecati voluptatem tempore delectus temporibus culpa! Repellendus, maiores at itaque soluta voluptatum est iusto dolor ex fuga animi debitis necessitatibus consectetur. Dignissimos, optio, saepe, quos dolorum pariatur voluptatum quasi eveniet ipsam fugit accusantium voluptate ducimus cupiditate ullam nostrum unde eaque necessitatibus maxime sunt incidunt aliquid accusamus.</p>
    				</article>
    			</div>
    		</section>
        </div>
    </div>
    {% include "partials/footer.html" %}

{% endblock %}
