$brand-blue:            #0096B9;
$brand-dark-grey:        #666666;
$brand-light-grey:    #ECECEC;
$brand-white:        #FFFFFF;
$brand-black:        #000000;
$brand-green:        #00CD7A;

body {
    background-color: $brand-dark-grey;
}
