$brand-blue:            #0096B9;
$brand-dark-grey:       #4D4D4D;
$brand-light-grey:      #ECECEC;
$brand-white:           #FFFFFF;
$brand-black:           #000000;
$brand-green:           #00CD7A;
$brand-light-blue:      #1C9FC2;

$trust-pilot-star:      #008000;

body {
    background-color: $brand-dark-grey;
}
