$base-spacing-unit--teeny:    10px;
$base-spacing-unit--tiny:     15px;
$base-spacing-unit--small:    20px;
$base-spacing-unit:          30px;
$base-spacing-unit--large:    40px;
$base-spacing-unit--huge:     50px;
$base-spacing-unit--massive:  60px;
